body{
  margin:0;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh
}

canvas{
  background:#222;
  display:block
}

#score{
  color:#0f0;
  font-family:monospace;
  font-size:20px;
  position:absolute;
  top:10px;
  left:10px
}
